.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 850px;
  height: auto;
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: midnightblue;
  padding: 15px;
  border-radius: 5px;
}

.hero {
  padding: 10px;
  margin: 5px;
  background: #26268b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 300px;
  width: 220px;
  border-radius: 5px;
}

.hero > button {
  margin-top: 10px;
}

input {
  min-width: 500px;
  height: 35px;
  background: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
}

form {
  padding: 25px 0px;
}

form > * {
  margin: 0px 2px;
}

.pagination {
  margin: 10px;
  line-height: 1.8;
}

.pagination > * {
  margin-right: 4px;
}
