.root {
  width: 100%;
  padding: 10px;
}

.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 475px;
  height: auto;
}

.hero {
  padding: 10px;
  margin: 5px;
  background: #26268b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 400px;
  width: 220px;
  border-radius: 5px;
}
