.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  background: midnightblue;
  border-radius: 5px;
  align-items: center;
}

.root > p {
  font-weight: bold;
}

.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 475px;
  height: auto;
}

.hero {
  padding: 10px;
  margin: 5px;
  background: #26268b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 400px;
  width: 220px;
  border-radius: 5px;
}

.teamWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centeredText {
  position: absolute;
  font-size: 100px;
  font-family: "Avenger", sans-serif;
  z-index: 99;
  /* max-width: 100%; */
}
