* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Avenger";
  src: url("./fonts/avenger.ttf") format("truetype"); /* for TTF */
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #00004d;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-width: 1200px;
  min-height: 100vh;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
